<a href="https://colab.research.google.com/github/Samuel442/Python/blob/main/Colab/para_Data_Science_Exemples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escreva um código para instalar a versão 3.7.1 da biblioteca matplotlib.

In [ ]:
!pip install matplotlib==3.7.1

Collecting matplotlib==3.7.1
  Downloading matplotlib-3.7.1.tar.gz (38.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.0/38.0 MB 26.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (4.60.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (1.4.9)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (25.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.7.1) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.17.0)
Building wheels for collected packages: matplotlib
  Building wheel for matplotlib (pyproject.toml) ... done
  Created wheel for matplotlib: filename=matplotlib-3.7.1-cp312-cp312-linux_x86_64.whl size=11092824 sha256=884d14b80ce4e0737adc1307d3be5fb8b4a132d3f302c27f5ad74fe1dc655799
  Stored in directory: /root/.cache/pip/wheels/1c/06/fa/3453aac11411fac092c1bdfe52815f2f6969a42700d977e62f
Successfully built matplotlib
Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.10.0
    Uninstalling matplotlib-3.10.0:
      Successfully uninstalled matplotlib-3.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
arviz 0.22.0 requires matplotlib>=3.8, but you have matplotlib 3.7.1 which is incompatible.
plotnine 0.14.5 requires matplotlib>=3.8.0, but you have matplotlib 3.7.1 which is incompatible.
Successfully installed matplotlib-3.7.1

2. Escreva um código para importar a biblioteca numpy com o alias np.

In [ ]:
!pip install numpy
import numpy as np

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

3. Crie um programa que leia a seguinte lista de números e escolha um número desta aleatoriamente.

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
import random

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

aleatorio = random.choice(lista)
print(aleatorio)

8

4. Crie um programa que sorteia, aleatoriamente, um número inteiro positivo menor que 100.

In [ ]:
numero_inteiro_aleatorio = random.randint(1, 99)
print(f"Número inteiro: {numero_inteiro_aleatorio}")

Número inteiro: 81

5. Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.

In [ ]:
import math

numero_1 = int(input("Digite o primeiro número: "))
numero_2 = int(input("Digite o segundo número: "))

potencia = pow(numero_1, numero_2)
print("O resultado da potência é:", potencia)

Digite o primeiro número: 3
Digite o segundo número: 2
O resultado da potência é: 9

6. Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes. Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [ ]:
participantes = int(input("Digite o número de participantes: "))

numero_sorteado = random.randint(1, participantes)
print("O número sorteado é:", numero_sorteado)

Digite o número de participantes: 1000
O número sorteado é: 358

7. Você recebeu uma demanda para gerar números de token para acessar o aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e exibe uma mensagem junto a esse token gerado aleatoriamente.

"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"

In [ ]:
import random

nome = input("Digite seu nome: ")
token = 0 # Inicializa a variável token

while True:
    token = random.randrange(1000, 10000) # randrange vai até 9999
    if token % 2 == 0:
        # Se for par, podemos parar o loop
        break

print(f"Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!")

Digite seu nome: b
Olá, b, o seu token de acesso é 4628! Seja bem-vindo(a)!

8. Para diversificar e atrair novos(as) clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de frutas da pessoa cliente. Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

In [ ]:
import random

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

  # Seleciona 3 itens únicos da lista
itens_sorteados = random.sample(frutas, 3)

print(f"3 itens aleatórios: {itens_sorteados}")

3 itens aleatórios: ['pêra', 'laranja', 'melancia']

9. Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:

numeros = [2, 8, 15, 23, 91, 112, 256]

No final, informe quais números possuem raízes inteiras e seus respectivos valores.

Dica: use a comparação entre a divisão inteira (//) da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:

In [ ]:
import math

numeros = [2, 8, 15, 23, 91, 112, 256]

for numero in numeros:
    raiz = math.sqrt(numero)
    if raiz // 1 == raiz:
      print(f'{raiz} é inteiro')

16.0 é inteiro

10. Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.

Dica: use a variável pi e o método pow() da biblioteca math. O cálculo da área de um círculo é de: A = π*r^2 (lê-se pi vezes raio ao quadrado).

Caso precise de ajuda, opções de solução das atividades estão disponíveis na seção “Opinião da pessoa instrutora”.

In [ ]:
import math

metro_quadrado = 25

raio = float(input("Digite o raio da área circular: "))
area = math.pi * pow(raio,2)
preco_total = area * metro_quadrado
print(f"O preço total a pagar é de R$ {preco_total:.2f}")

Digite o raio da área circular: 2
O preço total a pagar é de R$ 314.16

1. Escreva um código que lê a lista abaixo e faça:

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

A leitura do tamanho da lista
A leitura do maior e menor valor
A soma dos valores da lista

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

tamanho = len(lista)
maior = max(lista)
menor = min(lista)
soma = sum(lista)

print(f"O tamanho da lista é: {tamanho}, o maior elemento é: {maior}, o menor elemento é: {menor} e a soma é: {soma}")

O tamanho da lista é: 17, o maior elemento é: 99, o menor elemento é: 11 e a soma é: 743

2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:

Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70

In [ ]:
def tabuada():
  escolha = int(input("Digite um número inteiro de 1 a 10: "))
  print(f"Tabuada do {escolha}:")

  for i in range(11):
    resultado = escolha * i
    print(f"{escolha} x {i} = {resultado}")

tabuada()

Digite um número inteiro de 1 a 10: 6
Tabuada do 6:
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

3. Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

Utilize o return na função e salve a nova lista na variável mult_3.

In [ ]:
def lista():
  lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
  mult_3 = []

  for i in lista:
    if i % 3 == 0:
      mult_3.append(i)

  return mult_3

mult_3 = lista()
print(mult_3)

[24, 99]

4. Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]. Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.

In [ ]:
def quadrado():
    lista = [1,2,3,4,5,6,7,8,9,10]
    quadrado = list(map(lambda x: x**2, lista))
    return quadrado
print(quadrado())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5. Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:

"Nota da manobra: [media]"

In [ ]:
def notas():
  nota1 = float(input("Digite a primeira nota: "))
  nota2 = float(input("Digite a segunda nota: "))
  nota3 = float(input("Digite a terceira nota: "))
  nota4 = float(input("Digite a quarta  nota: "))
  nota5 = float(input("Digite a quinta nota: "))

  notas = [nota1, nota2, nota3, nota4, nota5]
  maximo = max(notas)
  minimo = min(notas)
  notas.remove(maximo)
  notas.remove(minimo)
  media = sum(notas) / len(notas)
  return media

resultado = notas()
print(f"Nota da manobra: {resultado}")

Digite a primeira nota: 1
Digite a segunda nota: 2
Digite a terceira nota: 3
Digite a quarta  nota: 4
Digite a quinta nota: 5
Nota da manobra: 3.0

6. Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:

maior nota
menor nota
média

situação (Aprovado(a) ou Reprovado(a))
Para testar o comportamento da função, os dados podem ser exibidos em um texto:

"O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"

In [ ]:
def desempenho():
  nota1 = float(input("Digite a primeira nota: "))
  nota2 = float(input("Digite a segunda nota: "))
  nota3 = float(input("Digite a terceira nota: "))
  nota4 = float(input("Digite a quarta nota: "))

  notas = [nota1, nota2, nota3, nota4]
  maior = max(notas)
  menor = min(notas)
  media = sum(notas) / len(notas)

  if media >= 6:
    situacao = "Aprovado(a)"
  else:
    situacao = "Reprovado(a)"

  return maior, menor, media, situacao

# Pegando os valores retornados
maior, menor, media, situacao = desempenho()
print(f"O(a) estudante obteve uma média de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}")

Digite a primeira nota: 1
Digite a segunda nota: 2
Digite a terceira nota: 3
Digite a quarta nota: 4
O(a) estudante obteve uma média de 2.5, com a sua maior nota de 4.0 pontos e a menor nota de 1.0 pontos e foi Reprovado(a)

7. Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome. As listas são:

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

O texto exibido ao fim deve ser parecido com:

"Nome completo: Ana Silva"

Dica: utilize a função map para mapear os nomes e sobrenomes e as funções de string para tratar o texto.

In [ ]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

formatar = lambda p: p[0].upper() + p[1:].lower()
nomes_formatados = list(map(formatar, nomes))
sobrenomes_formatados = list(map(formatar, sobrenomes))

nome_sobrenome_formatado = map(lambda a,b: a + " " + b, nomes_formatados, sobrenomes_formatados)

for nome in nome_sobrenome_formatado:
  print(f"Nome completo: {nome}")

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares

8. Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores e do time como um todo. Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada calcula_pontos que recebe como parâmetros duas listas de números inteiros, representando os gols marcados e sofridos pelo time em cada partida do campeonato. A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos, o empate vale 1 ponto e a derrota 0 pontos.

Observação: se a quantidade de gols marcados numa partida for maior que a de sofridos, o time venceu. Caso seja igual, o time empatou e se for menor, o time perdeu. Para calcular o aproveitamento devemos fazer a razão entre a pontuação do time pela pontuação máxima que ele poderia receber.

Para teste, utilize as seguintes listas de gols marcados e sofridos:

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

In [ ]:
def calcula_pontos(gol_marc, gol_sof):
  if len(gol_sof) != len(gol_marc):
    print("As listas de gols devem ter o mesmo número de partidas")

  pontos = 0
  numero_jogos = len(gol_marc)

  for g_m,g_s in zip(gol_marc, gol_sof):
    if g_m > g_s:
      pontos += 3
    elif g_m == g_s:
      pontos += 1

  pontos_max = numero_jogos * 3
  aproveitamento = (pontos / pontos_max) * 100 if pontos_max > 0 else 0
  aproveitamento = round(aproveitamento, 2)

  return pontos, aproveitamento

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

pontos, aproveitamento = calcula_pontos(gols_marcados, gols_sofridos)
print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {aproveitamento}%")

A pontuação do time foi de 7 e seu aproveitamento foi de 46.67%

9. Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife, sendo elas: Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l, sendo que o valor da gasolina é de 5 reais o litro. O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de [200, 400, 250, 300], respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente [850, 800, 300, 550] km, crie três funções nas quais: a 1ª função calcule os gastos com hotel (gasto_hotel), a 2ª calcule os gastos com a gasolina (gasto_gasolina) e a 3ª os gastos com passeio e alimentação (gasto_passeio).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.

"Com base nos gastos definidos, uma viagem de [dias] dias para [cidade] saindo de Recife custaria [gastos] reais"

In [ ]:

dias = 3
distancia_salvador = 850
passeio_salvador = 200

def gasto_hotel(dias):
    return 150 * dias


def gasto_gasolina(distancia):
    return (distancia * 2 / 14) * 5


def gasto_passeio(gasto_diario, dias):
    return gasto_diario * dias

total_hotel = gasto_hotel(dias)
total_gasolina = gasto_gasolina(distancia_salvador)
total_passeio = gasto_passeio(passeio_salvador, dias)
total_viagem = total_hotel + total_gasolina + total_passeio

print(f"Gastos com hotel: R${total_hotel:.2f}")
print(f"Gastos com gasolina: R${total_gasolina:.2f}")
print(f"Gastos com passeios e alimentação: R${total_passeio:.2f}")
print(f"Total geral da viagem: R${total_viagem:.2f}")

Gastos com hotel: R$450.00
Gastos com gasolina: R$607.14
Gastos com passeios e alimentação: R$600.00
Total geral da viagem: R$1657.14

10. Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural (NLP). Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista. Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

Dica: utilize as funções lambda e filter() para filtrar essas palavras. Lembrando que a função embutida filter() recebe uma função (no nosso exemplo uma função lambda) e filtra um iterável de acordo com a função. Para tratar a frase use replace() para trocar a ',' '.', '!' e '?' por espaço.

Use a frase "Aprender Python aqui na Alura é muito bom" para testar o código.

In [ ]:
frase = input("Digite uma frase: ")

# limpa os caracteres
frase = frase.replace(".", " ")
frase = frase.replace(",", " ")
frase = frase.replace("?", " ")
frase = frase.replace("!", " ")

# transforma em lista
palavras = frase.split()
print(palavras)

lista_final = list(filter(lambda palavras: len(palavras) >= 5, palavras))
print(lista_final)

Digite uma frase: Aprender Python aqui na Alura é muito bom
['Aprender', 'Python', 'aqui', 'na', 'Alura', 'é', 'muito', 'bom']
['Aprender', 'Python', 'Alura', 'muito']

1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [1]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

soma_lista_individual = map(lambda lista: sum(lista) , lista_de_listas)
print(list(soma_lista_individual))

[24, 10, 16]

2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [3]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

terceiro_elemento = [tupla[2] for tupla in lista_de_tuplas]
print(list(terceiro_elemento))

[81, 67, 83]

3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [5]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

resultado = [(i, lista[i]) for i in range(len(lista))]
print(resultado)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [19]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

resultado = [item[1] for item in aluguel if item[0] == 'Apartamento']
print(resultado)

[1700, 1400, 1900]

5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [20]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

resultado = {mes: valor for mes, valor in zip(meses, despesa)}
print(resultado)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [22]:
vendas = [
    ('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883),
    ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544),
    ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471),
    ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)
]

resultado = [valor for ano, valor in vendas if ano == '2022' and valor > 6000]
print(resultado)

[8883, 7688, 9544, 8190]

7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

Glicose igual ou inferior a 70: 'Hipoglicemia'
Glicose entre 70 a 99: 'Normal'
Glicose entre 100 e 125: 'Alterada'
Glicose superior a 125: 'Diabetes'
A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [26]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

resultado = [("Hipoglicemia" if v <= 70 else "Normal" if 70 < v <= 99 else "Alterada" if 100 <= v <= 125 else "Diabetes", v) for v in glicemia   ]
print(resultado)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [27]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

tabela = [("id", "quantidade", "preco", "total")] + [(i, q, p, q * p) for i, q, p in zip(id, quantidade, preco)]
print(tabela)

[('id', 'quantidade', 'preco', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.

In [29]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

estados_unicos = set(estados)
listas_por_estado = [[e for e in estados if e == unico] for unico in estados_unicos]
estados = {estado: estados.count(estado) for estado in estados_unicos}
print(estados)

{'SP': 8, 'ES': 6, 'RJ': 2, 'MG': 7}

10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários(as) de cada Estado.

In [34]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7),
                ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5),
                ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

estados_unicos = set([estado for estado, _ in funcionarios])
print(estados_unicos)

colaboradores_por_estado = { estado: [num for est, num in funcionarios if est == estado] for estado in estados_unicos}
soma_por_estado = {estado: sum(colaboradores_por_estado[estado]) for estado in colaboradores_por_estado}
print(colaboradores_por_estado)
print(soma_por_estado)

{'SP', 'ES', 'RJ', 'MG'}
{'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'ES': [8, 9, 7, 12, 8, 14], 'RJ': [13, 9], 'MG': [9, 6, 4, 8, 5, 10, 12]}
{'SP': 82, 'ES': 58, 'RJ': 22, 'MG': 54}